//Eigenes Farbschema erstellt mit Adobe Color Wheel. Ein Monochromatisches Farbprofil plus eine Komplimentärfarbe
$primary-color: #323E5C;
$secondary-color: #7C859C;
$accent-color: #A4B3DB;
$light-color: #f7f7f5;
$dark-color: #5C5032;

$theme-colors: (
        "primary":    $primary-color,
        "secondary":  $secondary-color,
        "dark":       $dark-color,
        "accent":     $accent-color,
        "light":      $light-color,

        "bg-primary":  $primary-color,
        "bg-light":    $light-color
);

.carousel-item img {
  min-height: 50vh;
  max-height: 75vh;
  width: 100%;
  object-fit: cover;
}

@import "./node_modules/bootstrap/scss/bootstrap";